* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav	{
	padding: 0.8rem 5rem 0.8rem 0.8rem;
	margin-bottom: .2rem;
	list-style-type: none;
	box-sizing: border-box;
	background-color: white;
	position: sticky;
	top: 0;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

.nav-logo {
	padding-left: 5rem;
}

.right-nav {
	padding-top: 8px;
	float: right;
	font-weight: bold;
}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 25px;
	padding: .5rem .8rem;
	color: white;
	font-weight: bold;
	margin-bottom: .2rem;
	border: none;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.4);
	height: 400px;
}

.container {
	color: white;
	position: relative;
	margin: 0 auto;

}

.title {
	font-family: 'Zilla Slab' !important;
	padding-top: 0.8rem;
	padding-right: 5rem;
	font-size: 2.66rem;
	font-weight: 600;
	margin-left: auto;
	text-align: right;
	width: 50%;
	text-indent: 15%;
}

.subtitle {
	font-family: 'Zilla Slab' !important;
	padding-top: 0.8rem;
	padding-bottom: 1rem;
	padding-right: 5rem;
	margin-left: auto;
	text-align: right;
	font-size: 1.33rem;
	font-weight: 400;
	width: 50%;
	/*text-indent: 10%;*/
}

section button {
	padding-top: 0.8rem;
	padding-right: 5rem;
}

.apply-button {
	background-color: #c2195b;
	border-radius: 25px;
	padding: .6rem 2rem .6rem 2rem; 
	color: white;
	font-weight: bold;
	margin-bottom: .2rem;
	margin-top: 10px;
	margin-right: 5rem;
	border: none;
	float: right;

}

.intro {
	text-align: center;
	padding: 80px;
}

.intro-description {
	text-align: justify;
	padding-top: 3rem;
	padding-left: 12rem;
	padding-right: 12rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 60px;
}

.pre-footer h2 {
	padding-bottom: 3rem;
}

.prefooter-description {
	text-align: center;
	padding-left: 12rem;
	padding-right: 12rem;
}

.book-button {
	background-color: #336589;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 0.5rem 2rem;
	font-weight: bold;
	margin-top: 1rem;

}

footer {
	padding: 0.7rem;
	text-align: center;
}

footer span	{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}